<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>صفحه اصلی وکیل بات</title>
    <script type="module" crossorigin src="/js/main.js"></script>
    <link rel="stylesheet" crossorigin href="/css/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
  <body class="overflow-x-hidden">
    <div id="particles-js"></div>

    <nav class="fixed w-full bg-white z-20 top-0">
      <div class="navbar bg-base-100">
        <div class="flex-1">
          <img src="/img/ai.webp" class="lazyload ml-5 w-12" />
          <p class="ml-3">وکیل بات</p>
        </div>
        {{#if data }}
        <div class="flex-none gap-2 mr-7">
          <div class="mr-7">
            <a class="btn btn-primary" href="/vakilbot">وکیل بات</a>
          </div>
          <div class="dropdown dropdown-end">
            <div
              tabindex="0"
              role="button"
              class="btn btn-ghost btn-circle avatar"
            >
              <div class="w-10 rounded-full">
                {{#if data.sub.profile }}
                <img
                  loading="lazy"
                  src="{{ data.sub.profile }}"
                  class="lazyload"
                />
                {{else }}
                <img alt="پروفایل" src="/img/" class="lazyload" />
                {{/if}}
              </div>
            </div>
            <ul
              tabindex="0"
              class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52"
            >
              <li>
                <a class="justify-between">
                  {{ data.sub.firstname }} {{ data.sub.lastname }}
                </a>
              </li>
              <li><a>Settings</a></li>
              <li><a href="/auth/logout">خروج از حساب</a></li>
            </ul>
          </div>
        </div>
        {{else }}
        <div class="flex-none gap-2 mr-7">
          <div class="mr-7">
            <a class="btn btn-primary btn-outline" href="/register">ورود</a>
          </div>
        </div>
        {{/if}}
      </div>
    </nav>

    <section class="relative top-7 sm:top-16 lg:top-10">
      <div class="hero">
        <div class="hero-content flex-col justify-end lg:flex-row">
          <img
            src="/img/ai.webp"
            class="lazyload max-w-sm w-1/3 md:w-1/2 lg:w-full lg:mr-20"
          />
          <div class="text-hero-holder">
            <p class="text-label">وکیل و دستیار حقوقی شما وکیل بات</p>
            <h1 class="hero-matlab text-4xl lg:text-6xl">
              وکیل بات دستیار حقوقی شما
            </h1>
            <a href="" class="btn btn-primary mt-8 animate-glow"
              >چت با وکیل بات</a
            >
          </div>
        </div>
      </div>
    </section>

    <section class="description">
      <div class="custom-shape-divider-top-1701453859">
        <svg
          id="visual"
          viewBox="0 0 900 150"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1"
        >
          <g>
            <path
              id="blob1"
              d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
              opacity=".25"
              class="shape-fill"
            ></path>
            <path
              id="blob2"
              d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
              opacity=".5"
              class="shape-fill"
            ></path>
            <path
              id="blob3"
              d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
              class="shape-fill"
            ></path>
          </g>
          <g>
            <path
              id="blob4"
              d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
              opacity=".25"
              class="shape-fill"
            ></path>
            <path
              id="blob5"
              d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
              opacity=".5"
              class="shape-fill"
            ></path>
            <path
              id="blob6"
              d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
              class="shape-fill"
            ></path>
          </g>
        </svg>
      </div>

      <div class="flex justify-center w-full h-14 items-center">
        <div class="bg-white rounded-lg p-4 mb-8">
          <p>
            در دنیایی که حقوق و عدالت اغلب در مه گم میشوند
            <strong>وکیل بات</strong> به عنوان اولین پلتفرم مبتنی بر هوش مصنوعی
            چراغی روشن در این مسیر است
            
          </p>
        </div>
      </div>
    </section>

    <section class="vakil px-11">
      <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl my-5 text-center animate-glow rounded-xl p-7">
          خدمات وکیل بات
        </h1>
        <!-- <h5 class="mb-5">وکیل</h5> -->
      </div>
      <div class="container mx-auto p-4">
        <div
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 text-border"
        >
          <a
            href=""
            class="transition-all duration-300 hover:scale-105 hover:shadow-black col-span-2 row-span-1 bg-gradient-green border border-black rounded-lg py-4 cursor-pointer"
          >
            <div class="grid grid-cols-3 items-center justify-center">
              <div class="w-full col-span-2 mx-5 flex justify-center">
                <h1 class="text-center">تحریر اوراق قضایی</h1>
              </div>
              <img
                src="/img/icon2.webp"
                class="lazyload w-5/6 md:w-2/3 bg-white border border-black rounded-full"
                alt=""
              />
            </div>
            <div
              class="flex flex-col gap-3 justify-center items-center md:flex-row"
            >
              <div class="rating rating-md rounded-lg">
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                  checked
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
              </div>
            </div>
          </a>
          <a
            href="/motovation"
            class="transition-all duration-300 hover:scale-105 cursor-pointer hover:shadow-black col-span-2 bg-gradient-blue border border-black sm:col-span-1 lg:col-span-2 row-span-2 w-full rounded-lg shadow-lg p-4 py-8"
          >
            <div class="grid grid-cols-3 items-center justify-center h-5/6">
              <div class="w-full col-span-2 flex justify-center">
                <h1 class="text-lg text-center">مشاوره تخصصی با هوش مصنوعی</h1>
              </div>
              <img src="/img/ai.webp" class="w-full lazyload" alt="" />
            </div>
            <div
              class="flex flex-col gap-3 justify-center items-center md:flex-row"
            >
              <div class="rating rating-md rounded-lg">
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                  checked
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
              </div>
            </div>
          </a>

          <a
            href=""
            class="transition-all duration-300 hover:scale-105 cursor-pointer hover:shadow-black col-span-2 sm:col-span-1 lg:col-span-1 row-span-1 bg-gradient-yel border border-black rounded-lg shadow-lg p-4 py-8"
          >
            <div class="flex items-center justify-center">
              <h1 class="text-lg text-center">وکیل پزشکی</h1>
              <img src="/img/icon4.webp" class="w-2/5 lazyload" alt="" />
            </div>
            <div
              class="flex flex-col gap-3 justify-center items-center md:flex-row"
            >
              <div class="rating rating-md rounded-lg">
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                  checked
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
              </div>
            </div>
          </a>

          <a
            href=""
            class="transition-all duration-300 hover:scale-105 cursor-pointer hover:shadow-black col-span-2 sm:col-span-1 lg:col-span-1 row-span-1 bg-gradient-red border border-black rounded-lg shadow-lg p-4 py-8"
          >
            <div class="flex items-center justify-center">
              <h1 class="text-lg text-center">وکیل هنری</h1>
              <img src="/img/icon1.webp" class="w-2/5 lazyload" alt="" />
            </div>
            <div
              class="flex flex-col gap-3 justify-center items-center md:flex-row"
            >
              <div class="rating rating-md rounded-lg">
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                  checked
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
              </div>
            </div>
          </a>

          <a
            href=""
            class="transition-all duration-300 hover:scale-105 hover:shadow-black cursor-pointer col-span-2 bg-gradient-blue border border-black sm:col-span-1 lg:col-span-1 row-span-2 w-full rounded-lg shadow-lg p-4 py-8"
          >
            <div class="grid grid-cols-4 items-center justify-center h-5/6">
              <h1 class="text-lg text-center">وکیل مهاجرتی</h1>
              <img src="/img/icon5.webp" class="w-full lazyload" alt="" />
            </div>
            <div
              class="flex flex-col gap-3 justify-center items-center md:flex-row"
            >
              <div class="rating rating-md rounded-lg">
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                  checked
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
              </div>
            </div>
          </a>
          <a
            href=""
            class="transition-all duration-300 hover:scale-105 hover:shadow-black cursor-pointer col-span-2 bg-gradient-pur border border-black sm:col-span-1 lg:col-span-1 row-span-2 w-full rounded-lg shadow-lg p-4 py-8"
          >
            <div class="grid grid-cols-5 items-center justify-center h-5/6">
              <h1 class="text-lg text-center">محاسبات حقوقی</h1>
              <img
                src="/img/icon3.webp"
                class="w-full lazyload col-span-2"
                alt=""
              />
            </div>
            <div
              class="flex flex-col gap-3 justify-center items-center md:flex-row"
            >
              <div class="rating rating-md rounded-lg">
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                  checked
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
              </div>
            </div>
          </a>

          <a
            href=""
            class="transition-all duration-300 hover:scale-105 cursor-pointer hover:shadow-black col-span-2 row-span-1 bg-gradient-org border border-black rounded-lg shadow-lg py-4"
          >
            <div class="grid grid-cols-2 items-center justify-center">
              <h1 class="text-lg text-center">منابع حقوقی</h1>
              <img
                src="/img/DALL_E_2023-11-19_10.45.40_-_An_icon_for_an_art_lawyer__in_shades_of_navy_and_blue._The_icon_combines_elements_of_art_and_law__featuring_a_painter_s_palette_and_a_brush__symbolizi-removebg-preview.png"
                class="lazyload w-1/2 translate-x-[50%]"
                alt=""
              />
            </div>
          </a>
          <a
            href=""
            class="transition-all duration-300 hover:scale-105 cursor-pointer col-span-2 sm:col-span-2 lg:col-span-1 row-span-1 bg-gradient-green border border-black rounded-lg shadow-lg p-4 py-8"
          >
            <div class="flex items-center justify-center">
              <h1 class="text-lg text-center">عدل ایران</h1>
              <img
                src="/img/medical_lawyer.webp"
                class="w-2/5 lazyload"
                alt=""
              />
            </div>
            <div
              class="flex flex-col gap-3 justify-center items-center md:flex-row"
            >
              <div class="rating rating-md rounded-lg">
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                  checked
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
                <input
                  type="radio"
                  name="rating-7"
                  class="mask mask-star-2 bg-orange-400"
                />
              </div>
            </div>
          </a>
          <a
            href=""
            class="transition-all duration-300 hover:scale-105 hover:shadow-black shadow-lg cursor-pointer col-span-2 sm:col-span-2 lg:col-span-1 row-span-1 bg-gradient-yel border border-black rounded-lg p-4 py-8"
          >
            <div class="flex items-center justify-center">
              <h1 class="text-lg text-center">ثبت برند و شرکت</h1>
              <img src="/img/travel.webp" class="w-2/5 lazyload" alt="" />
            </div>
          </a>
        </div>
      </div>
    </section>

    <footer
      class="border bg-primary overflow-y-hidden rounded-t-lg border-x-4 border-indigo-500 my-2 text-base-content max-w-full"
    >
      <div class="footer footer-center">
        <div class="grid grid-flow-col gap-6 mt-8 px-2">
          <a href="/about"
            class="link link-hover text-gray-50 hover:text-amber-300 text-lg font-bold"
            >درباره ما</a
          >
          <a href="contact"
            class="link link-hover text-gray-50 hover:text-amber-300 text-lg font-bold"
            >ارتباط با ما</a
          >
          <a
            href="https://chat.vakilbot.app"
            class="link link-hover text-gray-50 hover:text-amber-300 text-lg font-bold"
            >چت باهوش مصنوعی</a
          >
          <a

            class="link link-hover text-gray-50 hover:text-amber-300 text-lg font-bold"
            >وکیل تخصصی</a
          >
          <a
            href="/laws"
            class="link link-hover text-gray-50 hove:text-amber-300 text-lg font-bold"
            >قوانین سایت</a
          >
        </div>

        <div>
          <div class="flex justify-center space-x-8">
            <!-- WhatsApp Icon -->
            <a href="https://wa.me/YOURNUMBER" class="transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fab fa-whatsapp fa-2x"></i>
            </a>
        
            <!-- Phone Icon -->
            <a href="tel:YOURNUMBER" class=" transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fas fa-phone-alt fa-2x"></i>
            </a>
        
            <!-- Instagram Icon -->
            <a href="https://instagram.com/YOURUSERNAME" class="transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
        
            <!-- GitHub Icon -->
            <a href="https://github.com/YOURUSERNAME" class="transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fab fa-github fa-2x"></i>
            </a>
        
            <!-- Telegram Icon -->
            <a href="https://t.me/YOURUSERNAME" class="transition-all duration-100 ease-in-out text-white hover:-translate-y-4">
                <i class="fab fa-telegram-plane fa-2x"></i>
            </a>
        </div>
        

        <div class="flex justify-start items-center">
          <!-- بخش تصویر -->

          <!-- بخش محتوای کناری (Aside) -->
          <aside>
            <p class="text-gray-50 hover:text-amber-200 mr-4 mt-8">
              Copyright © 2023 - تمامی حقوق مربوط به سایت وکیل بات محفوظ است
            </p>
          </aside>
        </div>
        <div class="">
          <a
          referrerpolicy="origin"
          target="_blank"
          href="https://trustseal.enamad.ir/?id=432598&Code=PYKIykTjF14XQsF9U9ZVEw8h4aHF5pJ8"
          ><img
            referrerpolicy="origin"
            src="https://trustseal.enamad.ir/logo.aspx?id=432598&Code=PYKIykTjF14XQsF9U9ZVEw8h4aHF5pJ8"
            alt=""
            style="cursor: pointer"
            Code="PYKIykTjF14XQsF9U9ZVEw8h4aHF5pJ8"
        /></a>
        </div>
      </div>
    </footer>

    <script type="module" src="/main.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
      particlesJS("particles-js", {
        particles: {
          number: { value: 150, density: { enable: true, value_area: 800 } },
          color: { value: "#3708d2" },
          shape: {
            type: "circle",
            stroke: { width: 0, color: "#000000" },
            polygon: { nb_sides: 5 },
            image: { src: "img/github.svg", width: 100, height: 100 },
          },
          opacity: {
            value: 0.44093831673801875,
            random: false,
            anim: {
              enable: false,
              speed: 0.24362316369040352,
              opacity_min: 0.048724632738080705,
              sync: false,
            },
          },
          size: {
            value: 3,
            random: true,
            anim: { enable: false, speed: 40, size_min: 0.1, sync: false },
          },
          line_linked: {
            enable: false,
            distance: 150,
            color: "#ffffff",
            opacity: 0.4,
            width: 1,
          },
          move: {
            enable: true,
            speed: 1.603412060865523,
            direction: "none",
            random: false,
            straight: false,
            out_mode: "out",
            bounce: false,
            attract: { enable: false, rotateX: 600, rotateY: 1200 },
          },
        },
        interactivity: {
          detect_on: "canvas",
          events: {
            onhover: { enable: false, mode: "bubble" },
            onclick: { enable: false, mode: "repulse" },
            resize: true,
          },
          modes: {
            grab: { distance: 400, line_linked: { opacity: 1 } },
            bubble: {
              distance: 170.53621458328246,
              size: 2,
              duration: 2,
              opacity: 8,
              speed: 3,
            },
            repulse: { distance: 200, duration: 0.4 },
            push: { particles_nb: 4 },
            remove: { particles_nb: 2 },
          },
        },
        retina_detect: false,
      });
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", function () {
          navigator.serviceWorker.register("/sw.js").then(
            function (registration) {
              console.log(
                "ServiceWorker registration successful with scope: ",
                registration.scope
              );
            },
            function (err) {
              console.log("ServiceWorker registration failed: ", err);
            }
          );
        });
      }
    </script>
  </body>
</html>
